body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: block;	
}
.container {
	display: flex;
}
.black {
	background-color: #000000;
	height: 80vh;
	width: 100vw;
}

.orange {
	background-color: #84577E;
	height: calc(100%/2);
	width: calc(100%/3);
}
.purple {
	background-color: #FFA500;
	height: calc(100%/2);
	width: calc(100%/3);
}
.img1 { 
	content: url(brc.jpg);
}
.img2 { 
	content: url(brc1.jpg);
}
.img3 { 
	content: url(brc2.jpg);
}

.img4 { 
	content: url(brc3.jpg);
}

.img5 { 
	content: url(brc4.jpg);
}

.img6 { 
	content: url(brc5.jpg);
}

@media screen and (max-width: 700px) {
	body {
		
	}
	.container {
	display: block;
}
	
	.orange {
		width: 100vw;
	}

	.purple {
		width: 100vw;
	}
}


