body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: block;	
}
button{
	content: url(images/brc.jpg);
	background-color: none;
}
.img {
	content: url(images/brc.jpg);
}
.img2 {
	content: url(images/brc2.jpg);
}
.img3 {
	content: url(images/brc3.jpg);
}
.img4 {
	content: url(images/brc4.jpg);
}
.img5 {
	content: url(images/brc5.jpg);
}
.img6 {
	content: url(images/brc6.jpg);
}
.img7 {
	content: url(images/brc7.jpg);
}
.img8 {
	content: url(images/brc8.jpg);
}
.img9 {
	content: url(images/brc9.jpg);
}
.img10 {
	content: url(images/brc10.jpg);
}
.container {
	display: flex;
}
.black {
	background-color: #000000;
	height: 80vh;
	width: 100vw;
}

.orange {
	height: calc(100%/2);
	width: calc(100%/3);
}
.purple {
	height: calc(100%/2);
	width: calc(100%/3);
}

@media screen and (max-width: 700px) {
	body {
		
	}
	.container {
	display: block;
}
	
	.orange {
		width: 100vw;
	}

	.purple {
		width: 100vw;
	}
}
